page-infoProduto {

	.container img {
		position: relative;
  	    max-width:100%;
	    max-height:150px;
	    width: auto;
	    height: auto;
	}

	.imageInfo{
		left: 50%;
  		position: absolute;
  		transform: translateX(-50%);
	}

}
